
body {
  background-color: beige;
  font-size: 16px;
}
h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: coral;
}
ul{
 text-align: center; 
}
.listadecor{
  background-color: burlywood;
  color: white;
}
p{
  color: rgb(212, 11, 11);
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
}

#amarelo{
  background-color: rgba(250, 234, 8, 0.925);
}
#vermelho{
  background-color: rgb(238, 18, 18)
}

#marrom{
  background-color: rgba(110, 60, 60, 0.973);
}  